<!DOCTYPE html>
<html>
   <head>
      <title>Buchungen</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
      
   </head>
   <body>
      <div class="header">
      </div>
      <div class="sidenav">
         <div class="abstand">
            <img src="{{ url_for('static', filename='pictures/excel.png') }}" style="width: 80px;" background = "transparent" class="center">
         </div>
         <a href="#">Anlagevermögen</a>
         <a href="#">Betriebswirtschaftliche Auswertung</a>
         <a href="#">Buchhaltung</a>
         <a href="#">Offene Posten Liste</a>
         <a href="#">Steuern</a>
      </div>
      <div class="main">
         <h3>Buchungen</h3>
         <form action="/add" method="POST">
            <table>
               <thead>
                  <tr>
                     <th>Position</th>
                     <th>Rechnungsdatum</th>
                     <th>Zahlungseingang</th>
                     <th>Brutto</th>
                     <th>USt-Schlüssel</th>
                     <th>Belegnummer</th>
                     <th>VSt-Schlüssel</th>
                     <th>Buchungstext</th>
                     <th>Private Auslage</th>
                  </tr>
               </thead>
               <tbody>
               {% for data in buchungen %}
                  <tr>
                     <td>{{data.position}}</td>
                     <td>{{data.rechnungsdatum}}</td>
                     <td>{{data.zahlungseingang}}</td>
                     <td>{{data.brutto}}</td>
                     <td>{{data.ust_key}}</td>
                     <td>{{data.belegnummer}}</td>
                     <td>{{data.vst_key}}</td>
                     <td>{{data.buchungstext}}</td>
                     <td>{{data.auslage}}</td>
                  </tr>
               {% endfor%}
                  <tr>
                     <td><input type="text" name="position" placeholder="Position..."></td>
                     <td><input type="text" name="rechnungsdatum" placeholder="Rechnungsdatum..."></td>
                     <td><input type="text" name="zahlungseingang" placeholder="Zahlungseingang..."></td>
                     <td><input type="text" name="brutto" placeholder="Bruttobetrag..."></td>
                     <td><input type="text" name="ust-key" placeholder="USt-Schlüssel..."></td>
                     <td><input type="text" name="belegnummer" placeholder="Belegnummer..."></td>
                     <td><input type="text" name="vst-key" placeholder="VSt-Schlüssel..."></td>
                     <td><input type="text" name="buchungstext" placeholder="Buchungstext..."></td>
                     <td><input type="text" name="auslage" placeholder="Privatauslage..."></td>
                     <td><button type="submit">Add</button></td>
                  </tr>
               </tbody>
            </table>
         </form>
         <div class={{box}}>
            <p id="message">{{message}}</p>
         </div>
      </div>
   </body>
</html>